/ Modal
#sign_in.modal.fade.bs-example-modal-sm.modal-mudanza{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header.mudanza-header-modal
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.mudanza-modal-title Iniciar sesión como:
      .modal-body
        .row.row-registry
          .col-md-6
            %button.btn.btn-warning.btn-type-mud.btn-mudanza.btn-user.btn-login-user Usuario
          .col-md-6
            %button.btn.btn-success.btn-type-mud.btn-mudanza.btn-socio.btn-login-partner Proveedor
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cerrar
