%header.bg-header.price
%section.contenido
  .container.no-padding
    .col-md-10.col-md-offset-1.col-form-registry.price
      %h1 Aviso de Privacidad
      %hr/
      .row
        %p.lb-registry
          De conformidad con lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante la “Ley”), su Reglamento, así como con los Lineamientos del Aviso de Privacidad y con el fin de garantizar la privacidad y el derecho a la autodeterminación informativa de nuestros clientes y/o de las personas que hayan decidido compartir con nosotros sus datos personales, informamos lo siguiente:
        %label{for: ""}
        %p.lb-registry
          RandomWalker LLC, en adelante RandomWalker, con Correo Electrónico contacto@randomwalker.com.mx, informa a sus clientes, o a cualquier otra persona que haya, mediante su consentimiento previamente, otorgado de manera voluntaria y conforme a la normatividad aplicable sus datos personales, que RandomWalker será el único responsable del tratamiento, uso, almacenamiento y divulgación de sus datos personales, conforme a lo establecido en el presente aviso de privacidad.
        %label{for: ""}
        %p.lb-registry
          Los datos personales que RandomWalker en su caso recabará directamente de usted serán: (i) nombre completo; (ii) dirección postal de origen y destino del viaje, así como tipo de inmueble; (iii) fecha de nacimiento; (iv) teléfono celular; (v) correo electrónico; (vi) información fiscal (domicilio fiscal, clave en el Registro Federal de Contribuyentes; (vii) información financiera consistente en datos de cuentas bancarias para realizar pagos y (viii) la información sobre el inventario a transportar, así como fotografías del mismo, opcionalmente. RandomWalker no obtiene datos en forma automática a través de cookies o web beacons.
        %label{for: ""}
        %p.lb-registry
          Los datos personales con los que contará RandomWalker, se administrarán y se tratarán por el tiempo que sea necesario únicamente para las siguientes finalidades que son estrictamente necesarias para el cumplimiento de la relación comercial que usted mantiene con RandomWalker:
          %br/
          (i) la estimación del costo de los servicios que solicite; (ii) para llevar a cabo el servicio solicitado con RandomWalker; (iii) para monitorear el debido cumplimiento contractual; (iv) para generar sus estados de cuenta, comprobantes de operación y contratos; (v) atender cualquier queja, pregunta o comentario que usted nos haga; y (vi) enviar notificaciones relacionadas con las modificaciones que se realicen al presente aviso de privacidad.
          %br/
          Los datos sensibles y los datos personales patrimoniales o financieros serán utilizados únicamente para los fines anteriores.
          %br/
          En adición a lo anterior, podemos utilizar sus datos de contacto para enviar notificaciones, avisos, propaganda o publicidad sobre nuestros productos, productos de otras empresas asociadas a RandomWalker y para envío de información, revistas y noticias o de temas que nosotros consideremos que pueden interesarle, así como noticias, comunicaciones o publicidad de RandomWalker o sus empresas relacionadas. Requerimos su consentimiento para utilizar su información sólo para estos fines. Su consentimiento es revocable en cualquier momento siguiendo el procedimiento para limitar uso y divulgación establecido en el presente aviso de privacidad.
          %br/
          Los datos personales que se recaben, formarán parte de una base de datos que permanecerá vigente durante aquel periodo que RandomWalker considere necesario para cumplir la finalidad específica para la que los datos fueron recabados, una vez concluido éste, sus datos se cancelarán y bloquearán, para su posterior supresión de conformidad con la Ley.
        %label{for: ""}
        %p.lb-registry
          Asimismo, le informamos que sus datos personales podrán ser transferidos y tratados dentro y fuera de México, particularmente en los Estados Unidos de América, para las finalidades establecidas en el presente Aviso de Privacidad y para poder cumplir con nuestras obligaciones legales frente a usted y frente a las autoridades de los países en los que operamos. En ese sentido, su información puede ser compartida con: (i) otros empleados, contratistas, prestadores de servicio y asesores de RandomWalker; (ii) filiales, accionistas y subsidiarias de RandomWalker; (iii) auditores externos que procesan la información por cuenta de RandomWalker; (iv) autoridades en México, los Estados Unidos de América o en el extranjero; y (v) a cualquier otra persona autorizada por la ley o el reglamento aplicable. De conformidad con lo establecido, RandomWalker hará del conocimiento de dicho tercero los términos y condiciones del presente Aviso de Privacidad a efecto de salvaguardar sus datos personales.
          %br/
          Asimismo, al ser nuestro servicio y la reputación de nuestros clientes nuestro activo más importante, ciertos terceros interesados en hacer negocios con RandomWalker requieren información personal de nuestros contactos. Por lo anterior, compartiremos su información personal con cesionarios, aliados comerciales y terceros interesados en hacer negocios, otorgar financiamientos, comprar acciones, créditos, o activos de RandomWalker o sus accionistas o filiales en México o alrededor del mundo o fusionarse con RandomWalker. Requerimos su consentimiento para compartir su información personal con estas personas. Su consentimiento es revocable en cualquier momento siguiendo el procedimiento para limitar uso y divulgación establecido en el presente aviso de privacidad.
        %label{for: ""}
        %p.lb-registry
          RandomWalker adoptará todas y cada una de las medidas de seguridad administrativas, físicas y técnicas necesarias para salvaguardar su información personal, por lo que de igual manera y en caso de que un tercero necesite conocer de dicha información, RandomWalker obligará a dichos terceros a cumplir con el presente Aviso de Privacidad, así como a adoptar las medidas de seguridad administrativas, físicas y técnicas establecidas en el la Ley, a fin de proteger los datos personales que voluntariamente usted nos proporcione, de cualquier daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado.
          %br/
          RandomWalker, incluso con posterioridad a la finalización de la relación que guarde con el titular de los datos personales, se compromete a guardar la confidencialidad de los mismos.
        %label{for: ""}
        %p.lb-registry
          Usted tiene derecho a revocar su consentimiento para el uso de sus datos personales para aquellas finalidades que no son estrictamente necesarias para el cumplimiento de su relación con RandomWalker y para limitar la manera en la que estime conveniente su uso y divulgación a terceros.
          %br/
          Para ejercer estos derechos, usted puede elegir cualquiera de las siguientes opciones:
          %br/
          1. Enviarnos una solicitud por correo electrónico contacto@randomwalker.com.mx, dirigida al Responsable de Datos Personales e indicando claramente para qué efectos revoca su consentimiento o cómo le gustaría limitar el uso y divulgación que hacemos de sus datos personales; 2. Seleccionar la opción de “Cancelar Suscripción” en los correos electrónicos que le enviamos para evitar que sigamos enviando publicidad a su correo electrónico.
        %label{for: ""}
        %p.lb-registry
          Usted tiene derecho de acceder a sus datos personales que se encuentren en nuestra base de datos y a los detalles del tratamiento de los mismos, así como a rectificarlos en caso de ser inexactos o cancelarlos cuando considere que resulten ser excesivos o innecesarios para las finalidades que justificaron su obtención u oponerse al tratamiento de los mismos para los fines específicos que no sean necesarios para la relación jurídica con RandomWalker.
          %br/
          En caso de que usted, como titular de sus datos personales desee ejercer cualquiera de los derechos antes mencionados, le solicitamos envíe la solicitud de ejercicio de derechos que corresponda, al RESPONSABLE DE DATOS PERSONALES de RandomWalker a través de la siguiente dirección de correo electrónico: contacto@randomwalker.com.mx.
          %br/
          Dicha solicitud deberá contener como mínimo la siguiente información: 1. Nombre y domicilio, a efecto de dar respuesta a su solicitud en los plazos establecidos en la ley aplicable; 2. Copia de su credencial de elector, pasaporte, licencia para conducir, cédula profesional o cualquier otro documento que acredite su identidad o acredite la personalidad de su representante legal, y en caso que la solicitud se realice a través del representante legal, acompañar el documento que acredita sus facultades como representante; 3. Descripción clara y precisa de los datos personales sobre los que se busca ejercer alguno de los derechos antes mencionados de acceso, rectificación, oposición, cancelación o revocación, así como la descripción clara y precisa de su solicitud; y 4. Cualquier otro elemento o documento que facilite la localización de dichos datos personales.
          %br/
        %label{for: ""}
        %p.lb-registry
          RandomWalker responderá cualquier solicitud completa en un plazo máximo de 20 días calendario o el máximo permitido por la ley. La respuesta de RandomWalker indicará si la solicitud de acceso, rectificación, cancelación u oposición es procedente y, en caso que así lo sea, RandomWalker hará efectiva la determinación dentro de los 15 días calendario siguientes a la fecha en que comunique la respuesta al titular de los datos personales o a su representante en su caso. Los plazos podrán ser ampliados en los términos que señale la ley aplicable. RandomWalker proporcionará copias electrónicas de su información personal en caso de que usted ejerza su derecho de acceso.
          %br/
          Modificaciones al Aviso de Privacidad y Leyes Aplicables.
          %br/
          En relación con lo anterior, RandomWalker se reserva el derecho a modificar los términos y condiciones de este Aviso de Privacidad, acción que será publicada a través de nuestro Portal de Internet en www.randomwalker.com.mx, al que tendrá acceso cualquier persona que se encuentre interesada. De cualquier forma, le recomendamos que revise este aviso de privacidad cada vez que haga uso de nuestra página web, a efecto de saber los cambios, modificaciones o actualizaciones que se realicen al mismo.
          %br/
        %label{for: ""}
        %p.lb-registry
          Este Aviso de Privacidad se rige por la Ley de Protección de Datos, su Reglamento, Lineamientos del Aviso de Privacidad y demás ordenamientos aplicables en los Estados Unidos Mexicanos y su aceptación, implica su sometimiento expreso a los tribunales de la Ciudad de México, Distrito Federal, ante cualquier controversia o reclamación derivada del mismo.
          %br/
        %br/
        %p.lb-registry
          Última actualización: 06 de septiembre de 2015.
          %br/
          Cualquier duda escribir a contacto@randomwalker.com.mx
      %br/
      .row
        .col-sm-4.col-sm-offset-4
          %button.btn.btn-info.btn-block.btn-enterado Enterado
%section.related
  .container
    .col-sm-3.col-direccion
      %p.p-footer Revisa aquí nuestro:
      %address.direccion
        %a.btn-privacidad Aviso de privacidad
    .col-sm-3.col-direccion
      %p.p-footer Contáctanos:
      %address.direccion
        Tel: 67 24 38 78
        %br/
        boxtrip@randomwalker.com.mx
        %br/
    .col-sm-3.col-social.center
      %p.p-footer Síguenos en redes sociales:
      %ul.nav.nav-pills.nav-pills-boxtrip.center
        %li
          %a{href: "https://www.facebook.com/boxtripmx/", target: "_blank"}
            %i.fa.fa-facebook
            %small /randomwalkermx
        %li
          %a{href: "https://twitter.com/boxtripmx", target: "_blank"}
            %i.fa.fa-twitter
            %small @randomwalkermx
        %li
          %a{href: "https://www.youtube.com/user/BoxtripMX", target: "_blank"}
            %i.fa.fa-youtube
            %small /randomwalkermx
    .col-sm-3
      .row
        %h6 ©2015 Todos los derechos reservados
      .row
        .col-sm-12
          %h5
            %img.logo-footer{src: "/assets/logoBoxtrip.png"}/
            Boxtrip

= render 'landing/partials/footer'
