.wrapper
  = render 'admin/dashboard/partials/header'
  = render 'admin/dashboard/partials/sidebar'
  = render 'admin/dashboard/partials/content'
  = render 'admin/dashboard/partials/footer'

  .control-sidebar-bg
