%section.related
  .container
    .col-sm-3.col-direccion
      %p.p-footer Revisa aquí nuestro:
      %address.direccion
        %a.btn-preguntas Preguntas frecuentes
        %br/
        %a.btn-privacidad{ href: '/privacy' } Aviso de privacidad
        %br/
        -# %a.btn-terminos Términos y condiciones
    .col-sm-3.col-direccion
      %p.p-footer Contáctanos:
      %address.direccion
        Tel: 67 24 38 78
        %br/
        boxtrip@randomwalker.com.mx
        %br/
    .col-sm-3.col-social.center
      %p.p-footer Síguenos en redes sociales:
      %ul.nav.nav-pills.nav-pills-boxtrip.center
        %li
          %a{ href: "https://www.facebook.com/randomwalkermx/", target: '_blank' }
            %i.fa.fa-facebook
            %small /randomwalkermx
        %li
          %a{ href: "https://twitter.com/boxtripmx", target: '_blank' }
            %i.fa.fa-twitter
            %small @randomwalkermx
        %li
          %a{ href: 'http://randomwalker.com.mx/', target: '_blank'}
            %i.fa.fa-youtube
            %small /randomwalkermx
    .col-sm-3
      .row
        %h6 ©2015 Todos los derechos reservados
      .row
        .col-sm-12
          %h5
            %img.logo-footer{src: "/vendor/img/logoBoxtrip.png"}/
            Boxtrip
