%section.funciona
  .container
    .row.row-title
      %label Menciones
      %p
        %strong.p-info Boxtrip
        ha sido mencionado en diferentes medios de comunicación, te invitamos a que le eches un vistazo.
    .row.center.logos
      .col-sm-4
        %img#excelsior{"data-placement" => "top", "data-toggle" => "tooltip", :src => "/vendor/img/excelsior.png", :title => "Ver nota en Excelsior"}/
      .col-sm-4
        %img#financiero{"data-placement" => "top", "data-toggle" => "tooltip", :src => "/vendor/img/financiero.png", :title => "Ver nota en el Financiero"}/
      .col-sm-4
        %img#angelhack{"data-placement" => "top", "data-toggle" => "tooltip", :src => "/vendor/img/angelhack2.png", :title => "Ver nota en Angelhack"}/
      .col-sm-4
        %img#mastercard{"data-placement" => "top", "data-toggle" => "tooltip", :src => "/vendor/img/mastercard.png", :title => "Ver nota en Mastercard"}/
      .col-sm-4
        %img#ipn{"data-placement" => "top", "data-toggle" => "tooltip", :src => "/vendor/img/IPN.png", :title => "Ver nota en IPN"}/
      .col-sm-4
        %img#jornada{"data-placement" => "top", "data-toggle" => "tooltip", :src => "/vendor/img/jornada.png", :title => "Ver nota en la Jornada"}/
    / #pasos.arrow.animated.bounce{"data-placement" => "top", "data-toggle" => "tooltip", title: "¿Deseas cotizar tu traslado ahora?"}
    /   %i.fa.fa-chevron-up
.row.row-title
  %label Reconocimientos