.wrapper
  .container-fluid.no-padding
    .col-sm-12.col-md-6.col-yolo
      %h1
        %strong Servicio YOLO
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      %br/
      %button#yolo.btn.btn-lg.btn-service Cotizar traslado
    .col-sm-12.col-md-6.col-tailored
      %h1
        %strong Servicio Tailored
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      %br/
      %button#tailored.btn.btn-lg.btn-service Cotizar traslado
