.wrapper
  .container-fluid.no-padding
    .col-sm-12.col-md-6.col-yolo
      %h1
        %strong Servicio YOLO
      %p Yo me encargo
      %p Tu dinos en donde necesitas el vehículo, nosotros transportamos tus cosas de un origen a un destino, la carga y descarga del vehículo, corre por tu cuenta.
      %br/
      %button#yolo.btn.btn-lg.btn-service Cotizar traslado
    .col-sm-12.col-md-6.col-tailored
      %h1
        %strong Servicio Tailored
      %p Servicio a la medida
      %p Un socio BTrip se pondrá en contacto contigo y te ayudara en todo lo necesario para hacer de tu mudanza una experiencia increíble.
      %br
      %button#tailored.btn.btn-lg.btn-service Cotizar traslado
