%header.bg-header
%section.contenido
  .container.no-padding
    .col-md-8.col-md-offset-2.col-form-registry
      .row
        .col-xs-4.col-sm-2.col-sm-offset-6
          .progress-step.active
            %label 1
            %img{src: "/assets/step1.png"}/
        .col-xs-4.col-sm-2
          .progress-step.active
            %label 2
            %img{src: "/assets/step2.png"}/
        .col-xs-4.col-sm-2
          .progress-step.active
            %label 3
            %img{src: "/assets/step3.png"}/
      %h1.center
        Gracias por elegir
        %strong{style: "color:#0094ff"} Boxtrip
      %h4.center En breve recibirás un correo con la confirmación de tu reservación.
      %hr/
      .col-md-8.col-md-offset-2
        %img{src: "/assets/exit.jpg"}/
      .col-md-4.col-md-offset-4.btn-group-registry
        %button.btn.btn-info.btn-mudanza.btn-admin Enterado

= render '/landing/partials/footer'
