%aside.main-sidebar
  %section.sidebar
    .user-panel
      .pull-left.image
        %img.img-circle{alt: "User Image", src: "/assets/dashboard/truck_128X128.png"}
      .pull-left.info
        %p Administrador
        / Status
        %a{href: "#"}
          %i.fa.fa-star.text-info
          Administrador
    %ul.sidebar-menu
      %li.header MENÚ DE ADMINISTRADOR
      %li
        %a{"data-toggle" => "tab", href: "#admin_content", role: "tab"}
          %i.fa.fa-users
          %span Registros
